<div class="infobox-title">
    {{ include.name | default: "Untitled InfoBox" }}
</div>
<div class="infobox mdl-shadow--4dp">
    {% if include.pfp %}
    <div class="infobox-img-container">
        <div class="infobox-img-caption">{{ include.platform }} channel</div>
        	<img src="{{ include.pfp }}" alt="{{ include.name }} Profile Picture" style="width:25%;" class="infobox-img"><br>
            {% if include.banner %}
            <img src="{{ include.banner }}" alt="{{ include.name }} Banner" style="width:70%;" class="infobox-img"><br>
            {% endif %}
    </div>
    {% endif %}

    <table class="infobox-data-table">
        <tbody>
            {% if include.formerly %}
            <tr>
                <th>Formerly known as</th>
                <td>{{ include.formerly | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Created by</th>
                <td>{{ include.creator | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Videos</th>
                <td>{{ include.videos }}</td>
            </tr>
            <tr>
                <th>Subscribers</th>
                <td>{{ include.subs | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ include.views | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Platform</th>
                <td>{{ include.platform }}</td>
            </tr>
            <tr>
                <th>Created on</th>
                <td>{{ include.creationdate }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ include.state }}</td>
            </tr>
            {% if include.link %}
            <tr>
                <th>Link</th>
                <td>{{ include.link | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            {% endif %}
		    {% if include.deletiondate %} 
	    	<tr>
                <th>Deleted on</th>
                <td>{{ include.deletiondate }}</td>
            </tr>
        	{% endif %}
            </tbody>
    </table>
</div>