<div class="infobox-title">
    {{ include.name | default: "Untitled InfoBox" }}
</div>

<div class="infobox mdl-shadow--4dp">
    {% if include.image %}
    <div class="infobox-img-container">
        <div class="infobox-img-caption"></div>
        <img src="{{ include.image }}" style="width:75%;" class="infobox-img computer-desktop">
        {% if include.image_caption %}
            <p class="infobox-img-caption-2">{{ include.image_caption | markdownify | remove: '<p>' | remove: '</p>' }}</p>
        {% endif %}
    </div> {% endif %}

    <table class="infobox-data-table">
        <tbody>
            <tr>
                <th>Owner</th>
                <td>{{ include.owner | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ include.manufacturer }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ include.model }}</td>
            </tr>

            {% if include.introISO %}
                {% assign now_year = "now" | date: "%Y" | plus: 0 %}
                {% assign now_month = "now" | date: "%m" | plus: 0 %}
                {% assign intro_year = include.introISO | date: "%Y" | plus: 0 %}
                {% assign intro_month = include.introISO | date: "%m" | plus: 0 %}

                {% assign total_now_months = now_year | times: 12 | plus: now_month %}
                {% assign total_intro_months = intro_year | times: 12 | plus: intro_month %}
                {% assign diff_months = total_now_months | minus: total_intro_months %}
                
                {% capture timeago %}
                    {% if diff_months > 0 %}
                        {% if diff_months < 12 %}
                            ({{ diff_months }} {% if diff_months == 1 %}month{% else %}months{% endif %} ago)
                        {% else %}
                            {% assign diff_years = diff_months | divided_by: 12 %}
                            ({{ diff_years }} {% if diff_years == 1 %}year{% else %}years{% endif %} ago)
                        {% endif %}
                    {% endif %}
                {% endcapture %}
            {% endif %}

            <tr>
                <th>Introduced</th>
                <td>{{ include.introduced }} {{ timeago }}</td>
            </tr>
            {% if include.hostname %}
            <tr>
                <th>Hostname</th>
                <td>{{ include.hostname }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <div style="background-color:var(--navhoverlink)!important;color:var(--text-color);text-align:center;padding:2px;"><b>Specifications</b></div>
    
    <table class="infobox-data-table">
        <tbody>
            <tr>
                <th>Processor</th>
                <td>{{ include.cpu | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Memory</th>
                <td>{{ include.ram | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>

            {% assign integrated = "" %}
            {% if include.integrated %}
                {% assign integrated = "<sup class='delta-infobox-computer-integrated'>(Integrated)</sup>" %}
            {% endif %}

            <tr>
                <th>Graphics Card</th>
                <td>{{ include.gpu }} {{ integrated }}</td>
            </tr>
            <tr>
                <th>Hard Drive</th>
                <td>{{ include.disk | markdownify | remove: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Display</th>
                <td>{{ include.screenres | markdownify | remove: '<p>' | remove: '</p>' }} ({{ include.screensize }})</td>
            </tr>   
            {% if include.os %}
            <tr>
                <th>Operating System</th>
                <td>{{ include.os }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>