<div class="infobox-title">
    {{ include.name | default: "Untitled InfoBox" }}
</div>
<div class="infobox mdl-shadow--4dp">
    {% if include.logo %}
    <div class="infobox-img-container">
            <img src="{{ include.logo }}" class="infobox-img">
    </div>
    {% endif %}

    {% if include.image %}
    <div class="infobox-img-container">
            <img src="{{ include.image }}" alt="Screenshot of the {{ include.name }} Homepage" class="infobox-img">
         <div class="infobox-img-caption">{{ include.name }} homepage</div>
    </div>
    {% endif %}

    <table class="infobox-data-table">
        <tbody>
            {% if include.formerly %}
            <tr>
                <th>Formerly known as</th>
                <td>{{ include.formerly }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Developer(s)</th>
                <td>{{ include.developer | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Written in</th>
                <td>{{ include.writtenin }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ include.type | default: "Website" }}</td>
            </tr>
            <tr>
                <th>Initial release</th>
                <td>{{ include.initialVersion | markdownify | remove_first: '<p>' | remove: '</p>' }} ({{ include.initialVersionReleaseDate }})</td>
            </tr>
            <tr>
                <th>Current release</th>
                <td>{{ include.currentVersion | markdownify | remove_first: '<p>' | remove: '</p>' }} ({{ include.currentVersionReleaseDate }})</td>
            </tr>
            <tr>
                <th>Repository</th>
                <td><b>{{ include.repoHost }}</b>:<br>{{ include.repoLink | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ include.status }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ include.link | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            </tbody>
    </table>
</div>