<div class="infobox-title">
    {{ include.title | default: "Untitled InfoBox" }}
</div>
<div class="infobox mdl-shadow--4dp">
    {% if include.image %}
    <div class="infobox-img-container">
        <div class="infobox-img-caption">{{ include.channel | markdownify  | remove_first: '<p>' | remove: '</p>' }} video</div>
        	<img src="{{ include.image }}" alt="{{ include.title }} Thumbnail" class="infobox-img">
    </div>
    {% endif %}

    <table class="infobox-data-table">
        <tbody>
            <tr>
                <th>Channel</th>
                <td>{{ include.channel | markdownify | remove_first: '<p>' | remove: '</p>' }}</td>
            </tr>
            <tr>
                <th>Platform</th>
                <td>{{ include.platform }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ include.views }}</td>
            </tr>
            <tr>
                <th>Released on</th>
                <td>{{ include.reldate }}</td>
            </tr>
            {% if include.link %}
            <tr>
                <th>Link</th>
                <td><a href="{{ include.link }}">{{ include.link }}</a></td>
            </tr>
            {% endif %}
            </tbody>
    </table>
</div>