<div class="gallery-item">
    <div class="thumb-frame">
        {% if include.video_src %} 
        <!-- video type -->
        <img src="{{ include.thumb }}" {% if include.author %}author="{{ include.author }}"{% endif %} data-video-src="{{ include.video_src }}">
        <!-- we use an attribute for the actual video on the image, the image is also for the thumbnail so it doesnt break -->
        {% endif %} 

        {% if include.image_src %} 
        <!-- normal image -->
        <img src="{{ include.image_src }}" author="{{ include.author }}" loading="lazy">
        {% endif %}
    </div>
 <figcaption class="gallery-caption">
 {{ include.caption | markdownify }}
 </figcaption>
</div>
