<div class="homepage-cards">
  <script>
{% assign featuredpath = "pages/articles/" | append: site.featuredarticle | append: ".md" %}
{% assign featured = site.pages | where: "path", featuredpath | first %}

window.featuredArticle = {
  url: "{{ featured.url | relative_url }}",
  title: {{ featured.title | jsonify }},
  excerpt: {{ featured.content
      | markdownify
      | split:'<h' | first
      | split:'<img' | first
      | truncatewords: 256
      | jsonify }}
};
</script>
<div class="featured-article kuro-card_can-has-transparency demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">import_contacts</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Featured article</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="feat-article-container" style="color:var(--text-color);padding:-1;">
       Could not load featured article.
      </div>
  </div>
</div>

<div class="did-you-know kuro-card_can-has-transparency demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">question_mark</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Did you know...</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div id="facts-container" style="color:var(--text-color);padding:-1;">
    <noscript>...that JavaScript is currently disabled and several <s>LexiWiki</s>..i mean KuroWiki features are disabled?</noscript> 
      </div>
  </div>
</div>

<div class="recent-news kuro-card_can-has-transparency demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <i class="material-icons">newspaper</i><h2 class="mdl-card__title-text">&nbsp;&nbsp;Recent news</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div style="color:var(--text-color);padding:-1;">
    {% capture recent_news %}
     {% include recent_news.md %}
       {% endcapture %}
     {{ recent_news | markdownify }}
      </div>
  </div>
</div>
</div>
